#event-view .calendar-date {
  background-color: #f8f9fabb;
  margin: 10px 0;
  padding: 10px;
}
#event-view .event-date-header {
  color: #000;
  font-weight: bold;
}

#event-view .event-item {
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: move;
  overflow: hidden;
}

#event-view .event-time {
  font-size: 14px;
  margin-bottom: 5px;
}

#event-view .event-title {
  font-size: 18px;
  font-weight: bold;
}

#event-view .calendar-date .event-title, #event-view .calendar-date .event-description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#event-view {
  height: 90vh;
  overflow-y: scroll;
  position: relative;
  margin-right: 10px;
  border: 1px solid #f8f9fabb;
}
body.dark-theme #search {
  border-color: #fff;
}
body.light-theme #search {
  border-color: #333;
}