/* Thème sombre */
body.dark-theme .modal {
  background-color: rgba(0, 0, 0, 0.7); /* Ajuster l'opacité pour s'aligner avec le thème sombre */
}

body.dark-theme .modal-content {
  background-color: #333;
  border: 1px solid #555;
  color: #f0f0f0;
}

body.dark-theme .close {
  color: #aaa;
}

body.dark-theme .close:hover,
body.dark-theme .close:focus {
  color: #fff;
}

/* Thème clair */
body.light-theme .modal {
  background-color: rgba(0, 0, 0, 0.3); /* Ajuster l'opacité pour s'aligner avec le thème clair */
}

body.light-theme .modal-content {
  background-color: #fefefe;
  border: 1px solid #ccc;
  color: #333;
}

body.light-theme .close {
  color: #555;
}

body.light-theme .close:hover,
body.light-theme .close:focus {
  color: #000;
}

/* Modal Background */
#event-modal.modal, #deleteModal.modal, #editableModal.modal {
  position: relative;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Default background color, adjusted by theme */
}

/* Modal Content */
#event-modal .modal-content, #deleteModal .modal-content, #editableModal .modal-content {
  position: relative;
  margin: 3% auto 15%; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888; /* Default border color, adjusted by theme */
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#deleteModal .modal-content, #editableModal .modal-content {
  margin: 15% auto; /* 15% from the top and centered */
}
#event-modal .modal-content form {
  width: 100%;
}

#event-modal .form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#event-modal .form-check-label {
  margin-right: 10px;
}

#event-color.form-control {
  padding: 0;
}

#event-modal .form-check-label {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

#event-modal .form-check-label.selected {
  background-color: #153e43;
  color: white;
}
#event-modal #recurrenceEvents .form-check-input { 
  display: none;
}
#event-modal .col-6 .form-control, #event-modal .col-12 .col .form-control {
  width: 95%;
}
#event-modal .col-12 .form-control {
  width: 90%;
}