#month-view .week-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f8f9fabb;
  color: #000;
  text-align: center;
  padding: 10px 0;
}

#month-view .week-day {
  padding: 5px 0;
}

#month-view .month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

#month-view .calendar-date {
  border: 1px solid #ddd;
  height: 130px;
  overflow-y: scroll;
  padding: 5px;
}

#month-view .empty {
  background-color: transparent;
}

#month-view .day-number {
  font-size: 0.8em;
}

#month-view .has-event {
  background-color: #1e1e1e;
}

#month-view .event-item {
  margin-top: 5px;
  padding: 2px;
  color: white;
  border-radius: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8em;
  overflow: hidden;
}

#month-view .event-item.multi-day {
  background-color: #ff6347; /* Different color for multi-day events */
}

#month-view .current-date {
  border: 1px solid #ff0;
}

#month-view .selected-date {
  background-color: #f8f9fabb;
}